html {
  font: 18px sans-serif;
  color: white;
  background: black url(app/img/oak-bg.jpg) repeat;
}

a {
  color: white;
  font-weight: bold;
}
a:focus {
  outline-style: solid;
  outline-color: #fcdf03;
  outline-width: 3px;
}

p,
li {
  line-height: 1.8;
}

.banner {
  width: 100%;
  height: 56.25vw;
  position: relative;
}
.banner::before {
  content: " ";
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.banner video,
.banner .headings,
.banner::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner .headings {
  z-index: 10;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner h1 {
  margin: 0;
  text-align: center;
}
.banner h1 img {
  width: 100%;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
}
.banner h2 {
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  color: #dcd7c1;
  font-size: 5vmin;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
}
.banner h2 span {
  color: #eed3a2;
}
.banner h2 span:first-child {
  color: #e7cecd;
}
.banner .button {
  background-color: #447037;
  color: #eae6d4;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 3.2vmin;
  margin-top: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
}
.banner .button:hover {
  color: #fff;
}

.main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px 12px;
  box-sizing: border-box;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  color: rgb(27, 19, 12, 0.9);
  font-size: 1.4rem;
}
.main a {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  color: rgb(27, 19, 12, 0.9);
}
.main ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main li {
  margin: 0;
  padding: 0;
}
.main h3 {
  margin-bottom: 0;
}
.main p {
  margin-top: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
